%tr
  -# Stock
  %td= link_to position.stock.ticker, stock_path(position.stock_id)
  %td= position.stock.country
  %td= link_to position.stock.name, stock_path(position.stock_id)
  %td
    %small= position.industry.name


  -# Entry
  %td.fund.divider

  -# Enter signals
  - if local_assigns.has_key? :include_enter_signals
    %td= position.enter_signal_date.strftime("%Y-%m-%d") 

  %td= position.enter_date.strftime("%Y-%m-%d") if position.enter_date
  %td= position.longshort.capitalize if position.longshort
  %td= number_with_delimiter(position.quantity) if position.quantity
  %td= number_to_currency(position.enter_local_price, :unit => position.stock.unit) if position.enter_local_price
  %td= number_to_currency(position.enter_local_value, :precision => 0, :unit => position.stock.unit) if position.enter_local_value
  %td= number_to_currency(position.enter_usd_value, :precision => 0) if position.enter_usd_value

  -# Exit
  - if local_assigns.has_key? :include_exit
    %td.fund.divider

    -# Exit signals
    - if local_assigns.has_key? :include_exit_signals
      %td= position.exit_signal_date.strftime("%Y-%m-%d") 

    %td= position.exit_date.strftime("%Y-%m-%d")
    %td= number_to_currency(position.exit_local_price, :unit => position.stock.unit)
    %td= number_to_currency(position.exit_local_value, :precision => 0, :unit => position.stock.unit)
    %td= number_to_currency(position.exit_usd_value, :precision => 0)


  -# More
  %td.fund.divider
  %td= render partial: 'actions', locals: {position: position}
