%h3
  Active positions

%table#active_positions
  %thead
    %tr
      %td{:class => "long {sorter: false}", :colspan => 4, :style => 'text-align: center;font-size: 14px;'} Stock

      %td{:class => "short {sorter: false}", :style => "background-color: lightgray;"}
      %td{:class => "short {sorter: false}", :colspan => 6, :style => 'text-align: center;font-size: 14px;'} Entry

      %td{:class => "short {sorter: false}", :style => "background-color: lightgray;"}
      %td{:class => "short {sorter: false}", :colspan => 1, :style => 'text-align: center;font-size: 14px;'}

    %tr
      %th Ticker
      %th Country
      %th Name
      %th Industry

      %th{:class => "long {sorter: false}", :style => "background-color: lightgray;"}
      %th Date
      %th Long|Short
      %th Quantity
      %th Price
      %th USD value
      %th Local value

      %th{:class => "long {sorter: false}", :style => "background-color: lightgray;"}
      %th Notes

  %tbody
    - @active_positions.each do |position|
      %tr
        %td= link_to position.stock.ticker, stock_path(position.stock_id)
        %td= position.stock.country
        %td= link_to position.stock.name, stock_path(position.stock_id)
        %td
          %small= position.industry.name

        %td.fund{:style => "background-color: lightgray;"}
        %td= position.enter_date
        %td= position.longshort.capitalize
        %td= position.quantity
        %td= position.enter_price
        %td= position.enter_usd_value
        %td= position.enter_local_value

        %td.fund{:style => "background-color: lightgray;"}
        %td
          %small= position.note

:javascript
  $(document).ready(function() {
    $('table').tablesorter({theme: 'blue'});
  })
