= simple_form_for(@position, :url => exit_position_path(@position), :defaults => {:required => false, :input_html => {:class => 'xlarge'}}) do |f|
  %fieldset
    %legend 
      Exit 
      = @position.longshort
      position for
      = link_to stock_path do
        = @position.stock.ticker
        = @position.stock.name


    = f.input :exit_date, :as => :string
    = f.input :exit_local_price, :label => 'Price'
    = f.input :exit_usd_fx_rate, :label => 'FX rate'
    = f.input :exit_local_value, :label => "#{@position.stock.country} value"
    = f.input :exit_usd_value, :label => 'Exit USD value'

  .control-group
    .controls
      = f.button :submit, 'Exit position'

