%legend
  = @position.state.humanize
  = 'for' if @position.state =~ /signaled/
  = @position.longshort
  = link_to stock_path do
    = @position.stock.ticker
    = @position.stock.name
  position

%p.lead Stock

%dl.dl-horizontal
  %dt Signal date
  %dd= @position.enter_signal_date.strftime("%Y-%m-%d")

  %dt Ticker
  %dd= link_to @position.stock.ticker, stock_path(@position.stock_id)

  %dt Country
  %dd= @position.stock.country

  %dt Name
  %dd= @position.stock.name

  %dt Industry
  %dd= @position.industry.name


%p.lead Entry
%dl.dl-horizontal
  %dt Long|Short
  %dd= @position.longshort.capitalize

  %dt Date
  %dd= @position.enter_date.strftime("%B %d, %Y").to_s if @position.enter_date
  
  %dt Quantity
  %dd= number_with_delimiter(@position.quantity)

  %dt Price
  %dd= number_to_currency(@position.enter_local_price, :unit => @position.stock.unit)

  %dt Local value
  %dd= number_to_currency(@position.enter_local_value, :unit => @position.stock.unit)

  %dt USD FX rate
  %dd= @position.enter_usd_fx_rate

  %dt USD value
  %dd= number_to_currency(@position.enter_usd_value)


%p.lead Exit
%dl.dl-horizontal
  %dt Date
  %dd= @position.exit_date.strftime("%B %d, %Y").to_s if @position.exit_date

  %dt Price
  %dd= number_to_currency(@position.exit_local_price, :unit => @position.stock.unit)
  
  %dt Local value
  %dd= number_to_currency(@position.exit_local_value, :unit => @position.stock.unit)

  %dt USD FX rate
  %dd= @position.exit_usd_fx_rate

  %dt USD value
  %dd= number_to_currency(@position.exit_usd_value)


%p.lead Other
%dl.dl-horizontal
  %dt Notes
  %dd
    %pre= @position.note
