%h1 Listing stocks

%table
  %tr
    %th Country
    %th Ticker
    %th Name
    %th Industry
    %th Risk funda screen1 score
    %th
    %th
    %th

  - @stocks.each do |stock|
    %tr
      %td= stock.country
      %td= stock.ticker
      %td= stock.name
      %td= stock.industry.name
      %td= stock.stock_scores.collect(&:risk_funda_screen1_score)
      %td= link_to 'Show', stock
      %td= link_to 'Edit', edit_stock_path(stock)
      %td= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Stock', new_stock_path
