= javascript_include_tag "http://code.highcharts.com/stock/highstock.js"

%h1
  = @stock.name
  %small.mute= "(#{@stock.ticker} #{@stock.country} - #{@stock.industry.name})"

%h2
  Scores, ranks, and signals


%table#data
  %thead
    %tr
      %th Date
      %th.divider 
      %th Long fund. signal 
      %th Long fund. rank
      %th Long fund. score
      %th Long industry rank
      %th.divider
      %th Short fund. signal 
      %th Short fund. rank
      %th Short fund. score
      %th Short industry rank
      %th.divider
      %th 10d SMAVG
      %th 10d WMAVG


  %tbody
    - @stock_dates.each do |stock_date|
      %tr
        %td= stock_date.date
        %td.divider
        %td= stock_date.long_fund_signal.try(:capitalize) || ''
        %td= stock_date.long_fund_rank || ''
        %td= stock_date.long_fund_score || ''
        %td= stock_date.long_fund_rank_by_industry || ''
        %td.divider
        %td= stock_date.short_fund_signal.try(:capitalize) || ''
        %td= stock_date.short_fund_rank || ''
        %td= stock_date.short_fund_score || ''
        %td= stock_date.short_fund_rank_by_industry || ''
        %td.divider
        %td= stock_date.smavg_10d
        %td= stock_date.wmavg_10d

%h2 Chart
#container

- begin
  :javascript
    $(function() {
      window.chart = new Highcharts.StockChart({
        chart : {
          renderTo : 'container'
        },

        rangeSelector : {
          selected : 1
        },

        title : {
          text : '#{@stock.name}'
        },
        
        series : [{
          name : '#{@stock.name}',
          data : #{@stock_close_prices},
          tooltip: {
            valueDecimals: 2
          }
        }]
      });
    });
- rescue
