%legend
  Data for 
  = @stock.name
  %small.mute= "(#{@stock.ticker} #{@stock.country} - #{@stock.industry.name})"


%table#data
  %thead
    %tr
      %th Date
      %th Position at open
      %th 
      %th Long fund. signal 
      %th Long fund. rank
      %th Long fund. score
      %th Long industry rank
      %th 
      %th Short fund. signal 
      %th Short fund. rank
      %th Short fund. score
      %th Short industry rank


  %tbody
    - @stock_dates.each do |stock_date|
      %tr
        %td
          = link_to stock_date.date, reports_path(:date => stock_date.date)
        %td= stock_date.open_position
        %td{:style => "background-color: lightgray;"}
        %td= stock_date.long_fund_signal.try(:capitalize) || ''
        %td= stock_date.long_fund_rank || ''
        %td= stock_date.long_fund_score || ''
        %td= stock_date.long_fund_rank_by_industry || ''
        %td{:style => "background-color: lightgray;"}
        %td= stock_date.short_fund_signal.try(:capitalize) || ''
        %td= stock_date.short_fund_rank || ''
        %td= stock_date.short_fund_score || ''
        %td= stock_date.short_fund_rank_by_industry || ''

:javascript
  $('#data').tablesorter({theme: 'blue'});
  $('#date').change(function(){
    var newURL = window.location.protocol + "//" + window.location.host + "/stock_dates?date=" + $(this).val()
    window.location = newURL
  })

