#notice= notice

%p
  %b Country:
  = @stock.country

%p
  %b Ticker:
  = @stock.ticker

%p
  %b Name:
  = @stock.name

%p
  %b Industry:
  = @stock.industry_id

%p
  %b Risk funda screen1 score:
  = @stock.stock_scores.collect(&:risk_funda_screen1_score)

= link_to 'Edit', edit_stock_path(@stock)
\|
= link_to 'Back', stocks_path
