%legend
  Raw data for
  = @date.strftime("%B %d, %Y").to_s if @date

- dates = StockDate.select('distinct date').order('date DESC').collect(&:date)
= select_tag 'date', options_for_select(['Change date'] + dates.each{|d| [d, d] })

#filters
  %strong Columns:
  = check_box_tag 'long', 'long', true
  Long
  &nbsp;
  = check_box_tag 'short', 'short', true
  Short
  &nbsp;
  = check_box_tag 'fundamentals', 'fundamentals', false
  Fundamentals


%table#data
  %thead
    %tr
      %td{:class => "{sorter: false}", :colspan => 5}

      %td{:class => "long {sorter: false}", :style => "background-color: lightgray;"}
      %td{:class => "long {sorter: false}", :colspan => 5, :style => 'text-align: center;font-size: 14px;'} Long

      %td{:class => "short {sorter: false}", :style => "background-color: lightgray;"}
      %td{:class => "short {sorter: false}", :colspan => 5, :style => 'text-align: center;font-size: 14px;'} Short

      %td{:class => "fund {sorter: false}", :style => "background-color: lightgray;"}
      %td{:class => "fund {sorter: false}", :colspan => 14, :style => 'text-align: center;font-size: 14px;'} Fundamentals

    %tr
      %th Ticker
      %th Country
      %th Name
      %th Industry
      %th Position at open

      %th{:class => "long {sorter: false}", :style => "background-color: lightgray;"}
      %th.long Tech. signal 
      %th.long Fund. signal 
      %th.long Rank
      %th.long Score
      %th.long Industry rank

      %th{:class => "short {sorter: false}", :style => "background-color: lightgray;"}
      %th.short Tech. signal 
      %th.short Fund. signal 
      %th.short Rank
      %th.short Score
      %th.short Industry rank
      
      %th{:class => "fund {sorter: false}", :style => "background-color: lightgray;"}
      %th.fund Alpha
      %th.fund PER
      %th.fund PER change
      %th.fund PBR
      %th.fund PBR change
      %th.fund PFCF
      %th.fund PFCF change
      %th.fund EPS 5-year growth
      %th.fund ROE BF12M
      %th.fund ROA BF12M
      %th.fund Average traded value 30 days
      %th.fund Closing price
      %th.fund WMAVG
      %th.fund SMAVG




  %tbody
    - @stock_dates.each do |stock_date|
      %tr
        %td= link_to stock_date.stock.ticker, stock_path(stock_date.stock_id)
        %td= stock_date.stock.country
        %td= stock_date.stock.name
        %td= stock_date.industry.name
        %td= stock_date.open_position

        %td.long{:style => "background-color: lightgray;"}
        %td.long= stock_date.long_tech_signal.try(:capitalize) || ''
        %td.long= stock_date.long_fund_signal.try(:capitalize) || ''
        %td.long= stock_date.long_fund_rank || ''
        %td.long= stock_date.long_fund_score || ''
        %td.long= stock_date.long_fund_rank_by_industry || ''

        %td.short{:style => "background-color: lightgray;"}
        %td.short= stock_date.short_tech_signal.try(:capitalize) || ''
        %td.short= stock_date.short_fund_signal.try(:capitalize) || ''
        %td.short= stock_date.short_fund_rank || ''
        %td.short= stock_date.short_fund_score || ''
        %td.short= stock_date.short_fund_rank_by_industry || ''

        %td.fund{:style => "background-color: lightgray;"}
        %td.fund= stock_date.alpha
        %td.fund= stock_date.per
        %td.fund= stock_date[:per_change]
        %td.fund= stock_date.pbr
        %td.fund= stock_date[:pbr_change]
        %td.fund= stock_date.pfcf
        %td.fund= stock_date[:pfcf_change]
        %td.fund= stock_date.eps_5yr_growth
        %td.fund= stock_date.roe_bf12m
        %td.fund= stock_date.roa_bf12m
        %td.fund= stock_date.average_traded_value_30_days
        %td.fund= stock_date.close
        %td.fund= stock_date.wmavg_10d
        %td.fund= stock_date.smavg_10d



:javascript
  $(document).ready(function() {
    $('#data').tablesorter({theme: 'blue'});
    $('#date').change(function(){
      var newURL = window.location.protocol + "//" + window.location.host + "/stock_dates?date=" + $(this).val()
      window.location = newURL
    })


    show_hide_columns = function(){
      if ( $('input#long').is(":checked") ){ $('td.long, th.long').show(); }
      if (! $('input#long').is(":checked") ){ $('td.long, th.long').hide(); }

      if ( $('input#short').is(":checked") ){ $('td.short, th.short').show(); }
      if (! $('input#short').is(":checked") ){ $('td.short, th.short').hide(); }

      if ( $('input#fundamentals').is(":checked") ){ $('td.fund, th.fund').show(); }
      if (! $('input#fundamentals').is(":checked") ){ $('td.fund, th.fund').hide(); }
    }

    $('input#long, input#short, input#fundamentals').click(function() {
      show_hide_columns();
    });

    show_hide_columns();

  })
