%h1 Listing stock_scores

%table
  %tr
    %th Date
    %th Stock
    %th Risk funda screen1 rank by industry
    %th
    %th
    %th

  - @stock_scores.each do |stock_score|
    %tr
      %td= stock_score.date
      %td= stock_score.stock_id
      %td= stock_score.risk_funda_screen1_rank_by_industry
      %td= link_to 'Show', stock_score
      %td= link_to 'Edit', edit_stock_score_path(stock_score)
      %td= link_to 'Destroy', stock_score, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Stock score', new_stock_score_path
