%p#notice= notice

%p
  %b Date:
  = @stock_score.date
%p
  %b Stock:
  = @stock_score.stock_id
%p
  %b Risk funda screen1 rank:
  = @stock_score.risk_funda_screen1_rank_by_industry

= link_to 'Edit', edit_stock_score_path(@stock_score)
\|
= link_to 'Back', stock_scores_path
