.navbar
  .navbar-inner
    %span.brand DX Model
    %ul.nav
      %li{:class => "#{'active' if params[:controller] == 'uploads' and params[:action] == 'new'}"}
        = link_to 'Upload data', new_upload_path

      %li{:class => "#{'active' if params[:controller] == 'reports' and params[:action] == 'index'}"}
        = link_to 'Reports', reports_path

      %li{:class => "#{'active' if params[:controller] == 'stock_dates' and params[:action] == 'index'}"}
        = link_to 'Raw data', stock_dates_path
