.navbar
  .navbar-inner
    .container
      %span.brand 
        = link_to "DX Model", root_path

      .nav-collapse.collapse.navbar-responsive-collapse
        %ul.nav

          %li{:class => "dropdown #{'active' if params[:controller] == 'fx_rates'}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              FX rates
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Enter new', new_fx_rate_path
              %li= link_to 'History', fx_rates_path



          %li{:class => "dropdown #{'active' if params[:controller] == 'stock_dates'}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Stock data
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Upload data', new_stock_date_path
              %li= link_to 'History', stock_dates_path


          %li{:class => "dropdown #{'active' if params[:controller] == 'trades'}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Trades
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'Signals', signaled_trades_path
              %li= link_to 'Open', entered_trades_path
              %li= link_to 'Closed', exited_trades_path



          %li{:class => "dropdown #{'active' if params[:controller] == 'reports'}"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Reports
              %b.caret

            %ul.dropdown-menu
              %li= link_to 'Exposure', exposure_reports_path
              %li= link_to 'Assets under management', aum_reports_path
              %li= link_to 'Profit & loss', pnl_reports_path
              %li= link_to 'Day', day_reports_path
              %li= link_to 'In Out', inout_reports_path

      %span.date= "EOD #{@date.strftime("%b %d, %Y").to_s}" if @date
