.navbar
  .navbar-inner
    %span.brand DX Model
    %ul.nav
      %li{:class => "#{'active' if params[:controller] == 'uploads' and params[:action] == 'new'}"}
        = link_to 'Upload new data', new_upload_path
      %li{:class => "#{'active' if params[:controller] == 'reports' and params[:action] == 'long'}"}
        = link_to 'Long reports', long_reports_path
      %li{:class => "#{'active' if params[:controller] == 'reports' and params[:action] == 'short'}"}
        = link_to 'Short reports', short_reports_path
