%table.table-bordered.table-condensed
  %tr
    %th Name
    %th Industry

    %th= "#{params[:longshort]} fund. score"
    %th= "#{params[:longshort]} fund. rank"
    %th= "#{params[:longshort]} fund. rank in industry"
    %th Position

  - stock_scores.each_with_index do |stock_score, index|
    %tr
      %td
        = stock_score.stock.name
      %td
        = stock_score.industry.name

      %td
        = stock_score["#{params[:longshort]}_fund_score"]
      %td
        = stock_score["#{params[:longshort]}_fund_rank"]
      %td
        = stock_score["#{params[:longshort]}_fund_rank_by_industry"].nil? ? '-' : stock_score["#{params[:longshort]}_fund_rank_by_industry"].to_i + 1

      %td
        - position = stock_score.stock.position? params[:longshort], @enter_threshold, @exit_threshold
        = position ? "Entered on #{position}" : '-'
