= javascript_include_tag "http://code.highcharts.com/stock/highstock.js"
= javascript_include_tag "http://code.highcharts.com/stock/modules/exporting.js"
= javascript_include_tag "http://www.highcharts.com/samples/data/three-series-1000-points.js"

#container{:style => "height: 400px; min-width: 600px"}



:javascript
  $(function() {  
    var chart = new Highcharts.Chart({  
      chart: {  
        renderTo: 'container',
        type: 'spline'
      },  

      title: {
        text: 'Exposure',
        x: -20 //center
      },

      subtitle: {
        text: 'USD',
        x: -20 //center
      },

      series: [{  
        name: 'Long',  
        data: #{@long_exposures}
      },{  
        name: 'Short',  
        data: #{@short_exposures}
      }],  

      xAxis: {
        type: 'datetime',
      },
      yAxis: {
        min: 0,
        title: {text: null}
      }

    });  
  });
