%h3
  = "Long entries"
  %small.mute= "(#{@long_entries.size})"
%ul
  - @long_entries.each do |stock|
    %li= stock.name


%h3
  = "Long exits"
  %small.mute= "(#{@long_exits.size})"
%ul
  - @long_exits.each do |stock|
    %li= stock.name


%h3
  = "Short entries"
  %small.mute= "(#{@short_entries.size})"
%ul
  - @short_entries.each do |stock|
    %li= stock.name


%h3
  = "Short exits"
  %small.mute= "(#{@short_exits.size})"
%ul
  - @short_exits.each do |stock|
    %li= stock.name
