%h1
  Signals for 
  = @date

- dates = StockDate.select('distinct date').order('date DESC').collect(&:date)
= select_tag 'date', options_for_select(['Change date'] + dates.each{|d| [d, d] })


%h3
  = "Long entries"
  %small.mute= "(#{@long_entries.size})"

%ul
  - @long_entries.each do |stock|
    %li= stock.name

%h3
  = "Long exits"
  %small.mute= "(#{@long_exits.size})"
%ul
  - @long_exits.each do |stock|
    %li= stock.name


%h3
  = "Short entries"
  %small.mute= "(#{@short_entries.size})"
%ul
  - @short_entries.each do |stock|
    %li= stock.name


%h3
  = "Short exits"
  %small.mute= "(#{@short_exits.size})"
%ul
  - @short_exits.each do |stock|
    %li= stock.name


:javascript
  $('#date').change(function(){
    var newURL = window.location.protocol + "//" + window.location.host + "/reports/index?date=" + $(this).val()
    window.location = newURL
  })

