= simple_form_for(@trade, :url => enter_trade_path(@trade), :defaults => {:required => false, :input_html => {:class => 'xlarge'}}) do |f|
  %fieldset
    %legend 
      Enter 
      = @trade.longshort
      trade for
      = link_to stock_path do
        = @trade.stock.ticker
        = @trade.stock.name


    = f.input :enter_date, :as => :string
    = f.input :quantity
    = f.input :enter_local_price, :label => 'Price'
    = f.input :enter_usd_fx_rate, :label => 'FX rate'
    = f.input :enter_local_value, :label => 'Enter local value'
    = f.input :enter_usd_value, :label => 'Enter USD value'

  .control-group
    .controls
      = f.button :submit, 'Submit'

