%h1 Signals

- dates = StockDate.select('distinct date').order('date DESC').collect(&:date)
= select_tag 'date', options_for_select(['Change date'] + dates.each{|d| [d, d] }, @date)

%table#signals
  %thead
    %tr
      %th Ticker
      %th Country
      %th Name
      %th Industry
      %th{:class => "long {sorter: false}"}

    %tbody
      - (@enter_signals + @exit_signals).each do |trade|
        %tr
          %td= link_to trade.stock.ticker, stock_path(trade.stock_id)
          %td= trade.stock.country
          %td= link_to trade.stock.name, stock_path(trade.stock_id)
          %td= trade.industry.name

          %td= render partial: 'actions', locals: {trade: trade}
